SERVER_PORT=8080

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

KAFKA_HOST=localhost
KAFKA_PORT=9092

KAFBAT_PORT=8081

AWS_REGION=eu-south-2
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
COGNITO_USER_POOL_ID=your_cognito_user_pool_id_here