SERVER_PORT=8080

KAFKA_HOST=localhost
KAFKA_PORT=9092
KAFKA_GROUP_ID=agentic-group

AWS_REGION=eu-south-2
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
AWS_BEDROCK_MODEL_ID=eu.anthropic.claude-haiku-4-5-20251001-v1:0