KAFKA_HOST=kafka
KAFKA_PORT=29092
KAFKA_GROUP_ID=agentic-group

AWS_REGION=eu-south-2
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
AWS_BEDROCK_MODEL_ID=eu.anthropic.claude-haiku-4-5-20251001-v1:0

CORE_API_URL=http://core:8080

COGNITO_CLIENT_ID=your_cognito_client_id_here
COGNITO_CLIENT_SECRET=your_cognito_client_secret_here
COGNITO_DOMAIN=your_cognito_domain_here
COGNITO_AGENTIC_SCOPE=internal/agentic